{% extends 'base.html' %} {%block title%} {{pet.name}}{% endblock %} {% block
content %}
<h1 class="text-center">Details</h1>
<div
  class="card mx-auto"
  style="width: 18rem">
  <img
    src="{{pet.photo_url}}"
    class="card-img-top"
    alt="..." />
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name: {{pet.name}}</li>
    {% if pet.age %}
    <li class="list-group-item">Age: {{pet.age}}</li>
    {% else %}
    <li class="list-group-item">Age: Currently Not Available</li>
    {% endif %}
    <li class="list-group-item">Species: {{pet.species}}</li>
  </ul>

  <a
    href="/"
    class="btn btn-outline-info border-0"
    >Go Back</a
  >
</div>

<div class="container mt-4">
  <form
    id="add-pet-form"
    method="post"
    class="border border-3 border-info rounded p-4">
    <h3 class="text-center">Edit {{pet.name}} Details</h3>
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p>
      {{ field.label }} {{ field(class_="form-control") }} {% for error in
      field.errors %} {{ error }} {% endfor %}
    </p>
    {% endfor %}

    <button
      type="submit"
      class="btn btn-primary">
      Save 💾
    </button>
  </form>
</div>
{% endblock %}
